.profile{
    min-height: calc(100vh - 120px);
    .top{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 1em;
    }

    .posts{

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}