.main{
    font-family: 'Rubik', sans-serif;
        .header{
        position: sticky;
        top: 0;
        background: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5em;
        border-bottom : 2px solid rgb(241, 241, 241);
        img{
            object-fit: contain;
            height: 35px;
        }
    }
    .footer{
        display: flex;
        height: 50px;
        align-items: center;
        justify-content: space-between;
        padding: 0 1em;
        position: sticky;
        bottom: 0;
        background:white;
        border-top: 1px solid rgb(211, 211, 211); 
   }
    .loader{
        height: 100vh;
        position: absolute;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        background: white;
        opacity: 1;
    }
}